<hgroup>
    <h2>Email</h2>
</hgroup>
<table>
    <thead>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Received</th>
        </tr>
    </thead>
    <tbody>
{% for email in deals.getEmails() %}
    <tr>
        <td>{{ email.email_to }}</td>
        <td>{{ email.email_from }}</td>
        <td>{{ email.email_subject }}</td>
        <td>{{ email.email_body }}</td>
        <td>{{ email.email_received }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
<form action="" method="POST">
    <div class="group">
      <input type="text" name="email"><span class="highlight"></span><span class="bar"></span>
      <label>Email address</label>
    </div>
  <div class="group">
    <input type="text" name="subject"><span class="highlight"></span><span class="bar"></span>
    <label>Subject</label>
  </div>
  <div class="group">
    <textarea name="body" placeholder="body"></textarea>
  </div>
  <button type="submit" class="button buttonBlue">Send email
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <input type="hidden" name="action" value="sendemail">
</form>
