<div class="deal {{ deal.type_of_deal }}">
    <div class="googleMap">
        <img src="{{ deal.google_map }}" alt="{{ deal.name }}">
    </div>
    <div class="info">
        <h2>{{ deal.name }} | {{ deal.headline }}</h2>
        <p>Type: {{ deal.type_of_deal|capitalize }}</p>
        <p>{{ deal.description|nl2br }}</p>
    </div>
    <button class="contactButton mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <div><i class="material-icons">add</i></div>
    </button>
    <div class="contact">
        <h3>Contact Info</h3>
        <ul>
            <li><a href="{{ deal.website }}" target="_BLANK">{{ deal.name }}</a></li>
            <li>{{ deal.phone }}</li>
            <li>{{ deal.address }}</li>
        </ul>
    </div>
</div>
