<div class="deal {{ deal.type_of_deal }}">
    <div class="googleMap">
        <img src="{{ deal.google_map }}" alt="{{ deal.name }} map">
    </div>
    <div class="info">
        <h2><a href="/restaurants/{{ deal.url_title }}/{{ deal.deal_url }}/">{{ deal.name }} | {{ deal.headline }}</a></h2>
        <!--p>Type: {{ deal.type_of_deal|capitalize }}</p-->
        <p>{{ deal.description|nl2br }}</p>
    </div>
    <button class="contactButton mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <span class="btnSpan"><i class="material-icons">add</i></span>
    </button>
    <div class="contact">
        <h3>Contact Info</h3>
        <ul>
            <li><a href="{{ deal.website }}" target="_BLANK">{{ deal.name }}</a></li>
            <li>{{ deal.phone }}</li>
            <li>{{ deal.address }}</li>
            <li>Huntington, WV</li>
            <li>Deal Type: {{ deal.type_of_deal|capitalize }}</li>
        </ul>
        <div class="getDirections">
            <span><a href="{{ deal.directions }}" target="_BLANK"><i class="material-icons">location_on</i>Get Directions</a></span>
        </div>
    </div>
</div>
