<div class="deal {{ deal.0.type_of_deal }}">
    <div class="info">
        <h2><a href="/restaurants/{{ deal.0.url_title }}/{{ deal.0.deal_url }}/">{{ key }}</a></h2>
        {% for grouped in deal %}
        <h3>{{ grouped.headline }}</h3>
        <p>{{ grouped.description|nl2br }}</p>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <div class="growit"></div>
    <button class="contactButton mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
          <span class="btnSpan"><i class="material-icons">add</i></span>
    </button>
    <div class="infoWrap">
        <div class="contact">
            <h3>Contact Info</h3>
            <ul>
                <li><a href="{{ deal.0.website }}" target="_BLANK"><i class="material-icons">link</i>{{ deal.0.name }}</a></li>
                <li><i class="material-icons">phone</i>{{ deal.0.phone }}</li>
                <li><i class="material-icons">location_on</i>{{ deal.0.address }}</li>
                <li class="city">Huntington, WV</li>
                <li><i class="material-icons">restaurant_menu</i>Deal Type: {{ deal.0.type_of_deal|capitalize }}</li>
            </ul>
            <div class="getDirections">
                <span><a href="{{ deal.0.directions }}" target="_BLANK"><i class="material-icons">location_searching</i>Get Directions</a></span>
            </div>
        </div>
    </div>
</div>
